@font-face {
	font-family: 'Quicksand';
	src: url('/src/assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-background: #252b2b;
	--color-foreground: #f8f0e8;
	--color-golden: #ffcd90;
}

@tailwind base;
@layer base {
	html {
		font-family: 'Quicksand', system-ui, sans-serif;
		background-color: var(--color-background);
		color: var(--color-foreground);
	}

	h2 {
		font-family: 'Quicksand', system-ui, sans-serif;
		color: var(--color-golden);
		font-size: 1.2rem;
		line-height: 1.2;
	}
}

@tailwind components;
@tailwind utilities;
